<div class="container-fruid">
  <div class="row justify-content-center category-header mt-3">
    <div class="col-11">
      <% if @suread.present? && @suread.errors.any? %>
        <div id ="error_explanation" class="alert alert-danger">
          <ul>
            <% @suread.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p>
        <span class="category-name"><%= @category.name %></span>
      </p>
    </div>
  </div>

  <div class="row justify-content-center category-sureads">
    <div class="col-11">
      <% @category.sureads.reverse_order.each do |suread| %>
        <p>
          <%= suread.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          <%= link_to suread_path(suread) do %>
            <%= suread.title %>
            <%= "[#{suread.user.name}]" %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center sureads-input">
    <div class="col-11 pt-3">
      <%= form_with model: @suread, local: true do |f| %>
        <div class="form-group">
          <%= f.text_field :title, autocomplete: "title", placeholder: "スレッドタイトル", class:"form-control" %>
        </div>

        <div class="form-group row my-2">
          <div class="col">
            <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
              <div class="form-check form-check-inline">
                <%= b.label { b.check_box(class: "form-check-input") + b.text } %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= f.text_area :comment, rows: '5', autocomplete: "comment", placeholder: "コメント", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= hidden_field_tag :category_id, @category.id %>
        </div>
        
        <div class="form-group">
          <%= f.submit "新規スレッド作成", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>